<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--springMVC的配置文件：声明的尾部相关的对象，例如处理器对象，视图对象等-->

    <!--

        声明处理器对象， 让容器创建处理器对象，并把请求交给这个对象
        class:处理器的全新定名称
        id：请求的rui地址，需要以"/"开头
    -->
    <bean id="/some.do" class="com.liteworm.comtroller.MyController"/>

    <!--
        声明视图解析器：
            springmvc中的一个对象，处理视图的，能指定视图的路径和扩展名
            InternalResourceViewResolver:内部视图资源解析器，处理jsp.jstl等视图文件
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--指定前缀：视图文件目录-->
        <property name="prefix" value="/WEB-INF/view/"/>
        <!--指定后缀：视图文件的扩展名-->
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>