<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        引用类型的自动注入：spring按某种规则，给引用类型完成赋值。常用的方式byName，byType
        1、byNmae：按名称注入，java类中引用类型的属性名和spring容器（xml配置文件） <bean>的id
            值一样的，且数据类型是一样的，这样的bean能够赋值给引用类型。
            指定byName
            <bean id = "xx" class = "yyy"  autowire="byName">
                简单类型的赋值
            </bean>
        2、byType:按类型注入，
    -->

    <!--byNmae自动注入-->
    <bean id = "myStudent" class="com.liteworm.ba05.Student"  autowire="byName">
        <property name="name"  value="李四" />
        <property name="age" value="20"/>
        <!--
            引用类型
        -->
<!--        <property name="school" ref="mySchool"/>-->
    </bean>

    <!--声明School类-->
    <bean id = "school" class="com.liteworm.ba05.School" >
        <property name="name" value="北京大学"/>
        <property name="address" value="北京市"/>
    </bean>

</beans>