<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--声明School类-->
    <bean id = "mySchool" class="com.liteworm.ba07.School" >
        <property name="name" value="清华大学"/>
        <property name="address" value="北京市"/>
    </bean>


</beans>